.button {
    display: inline-block;
    border-radius: 40px;
    background-color: #2190eb;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    width: 100px;    
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;    
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;    
  }

  .active {
    background-color: #4597e4;
    cursor: pointer;
  }

  .inactive {
    background-color: #c8dcee;
    cursor: none;
  }

  div {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  input {
    width: 222px;
    height: 32px;
  }

  span {
    width: 222px;
  }

  input:invalid {
    border: 2px solid red;
  }

  .maring5 {
    margin-right: 5px;
  }